:root {
  --primary: #0a3981;
  --primary-fg: #ffffff;
  --primary-2: #1f509a;
  --primary-2-fg: #ffffff;
  --secondary: #e38e49;
  --secondary-fg: #000000;
  --accent: #d4ebf8;
  --accent-fg: #000000;
  --light: #ffffff;
  --dark: #000000;
}
